<!DOCTYPE html>
<html ng-app="LibSearch">

<head>
  <?xml version="1.0" encoding="windows-1251"?>

  <meta charset="utf-8"/>
  <base href="/#/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> | LibSearch</title>

  <!-- htmlbuild:css -->
  <!-- <link href="/bower_components/angular-material/angular-material.css" rel="stylesheet"/>
  <link href="/bower_components/ngprogress/ngProgress.css" rel="stylesheet"/> -->
   <!-- endbuild -->


</head>

<body ng-controller="rootController">
header

<div>
  <a href="/books">Books</a>
</div>

<div ng-if="!userLog">
	<a href="/login">Login</a>
</div>

<div ng-if="userLog">
	<a href="" ng-click="logoff()">LogOff</a>
</div>

<div class="page {{ pageClass }}" ng-view="ng-view"></div>
	
	
	<!-- htmlbuild:js -->
	<!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->

	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/oi.file/oi.file.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material-mocks.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/ngprogress/build/ngProgress.js"></script>

  <script src="app/app.js"></script>
  <script src="app/home/rootController.js"></script>
  <script src="app/home/homeController.js"></script>
  <script src="app/login/logInController.js"></script>
  <script src="app/admin/adminController.js"></script>
  <script src="app/book/bookController.js"></script>

  <script src="service/logInService.js"></script>
  <script src="service/bookService.js"></script>

	<!-- endbuild  -->

</body>

</html>
