<!DOCTYPE html>
<html ng-app="LibSearch">

<head>
  <?xml version="1.0" encoding="windows-1251"?>

  <meta charset="utf-8"/>
  <base href="/#!/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> | LibSearch</title>


  <link rel="stylesheet" href="assets/css/main.css" />



</head>

<body ng-controller="rootController" ng-class="{'homepage' : pageHome, 'left-sidebar': !pageHome}">
  <div id="page-wrapper">
    
    <div id="header-wrapper" class="wrapper">
      <div id="header">
        <div id="logo"> 
          <h1><a href="/">Lib search</a></h1>
          <p>All books in one place</p>
        </div>

        <nav id="nav">
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a ng-href="/#!/books">Books</a></li>
            <li>
              <a ng-if="!userLog" href="/#!/login">Login</a>
              <a ng-if="userLog" href="" ng-click="logoff()">LogOff</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>




    <div class="{{ pageClass }}" ng-view="ng-view"></div>

    
  </div>

  <div id="footer-wrapper" class="wrapper">
    <div class="title"></div>
    <div id="copyright"></div>
  </div>
 



	<script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/skel-viewport.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/oi.file/oi.file.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material-mocks.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/ngprogress/build/ngProgress.js"></script>

  <script src="app/app.js"></script>
  <script src="app/home/rootController.js"></script>
  <script src="app/home/homeController.js"></script>
  <script src="app/login/logInController.js"></script>
  <script src="app/admin/adminController.js"></script>
  <script src="app/book/bookController.js"></script>
  <script src="app/bookInfo/bookInfoController.js"></script>

  <script src="service/logInService.js"></script>
  <script src="service/bookService.js"></script>


</body>

</html>
